logististic regession in python by MUCHIRA JUNIOR
-------------------------------------------------------------------------------
regression on binary data using titanic data to predict the chances of survival

requirements
------------
pandas
sklearn
pydataset
inc

In [1]:
#import the libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
#import the data
from pydataset import data

In [3]:
#get the data
titanic=data('titanic')

In [4]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [5]:
titanic=pd.get_dummies(titanic, drop_first=True)

In [6]:
titanic

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
1                   0                0          0          0             1
2                   0                0          0          0             1
3                   0                0          0          0             1
4                   0                0          0          0             1
5                   0                0          0          0             1
...               ...              ...        ...        ...           ...
1312                0                1          1          1             0
1313                0                1          1          1             0
1314                0                1          1          1             0
1315                0                1          1          1             0
1316                0                1          1          1             0

[1316 rows x 5 columns]

In [7]:
#spit the data
x_train,x_test,y_train,y_test=train_test_split(titanic.drop('survived_yes', axis=1),titanic['survived_yes'])

In [8]:
#make the model
model=LogisticRegression()

In [9]:
#train tha model
model.fit(x_train,y_train)

/root/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
#make prediction
model.predict([[0,0,1,1]])[0]

1

In [11]:
#make another prediction
model.predict([[0,0,0,0]])[0]

0

In [12]:
model.predict([[0,1,0,0]])[0]

0

In [13]:
#test the model score
model.score(x_test,y_test)

0.7872340425531915